<app-header></app-header>

<section class="create__room">
    <form>
        <div class="input__group">
            <label for="username" aria-labelledby="username">Usuário: </label>
            <input type="text" name="username" placeholder="Digite seu usuário...">
        </div>

        <div class="input__group">
            <label for="upassword" aria-labelledby="upassword">Senha: </label>
            <input type="text" name="upassword" placeholder="Digite uma senha...">
        </div>

        <div class="input__group">
            <label for="username" aria-labelledby="username">Usuário: </label>
            <input type="text" name="username" placeholder="Digite seu usuário...">
        </div>

        <div class="input__group">    
            <label for="username" aria-labelledby="username">Usuário: </label>
            <input type="text" name="username" placeholder="Digite seu usuário...">
        </div>
    </form>
</section>