<nav class="navigator">
    <a class="navigator__link" [routerLink]="['/create-room']">
        <i class="flaticon flaticon-clapperboard"></i>
        <span class="navigator__label">Criar sessão</span>
    </a>
    <a class="navigator__link" [routerLink]="['/settings']">
        <i class="flaticon flaticon-photograms"></i>
        <span class="navigator__label">Minhas sessões</span>
    </a>

    <a class="navigator__link" [routerLink]="['/settings']">
        <i class="flaticon flaticon-photograms"></i>
        <span class="navigator__label">Minha conta</span>
    </a>
</nav>
