.navigator {
    top: 90px;
    left: 0;
    height: 100%;
    width: 120px;
    position: fixed;
    background-color: #333;

    a {
        color: #fff;
        display: block;
        padding: 12px;
        font-size: 14px;
        text-align: center;
        transition: all .3s;
        text-decoration: none;

        &:hover {
            background-color: #ce3c2e;
        }

        i {
            display: block;
            font-size: 42px;
        }
    }
}